.player-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  .player-card {
    max-width: 400px;
    margin: 3rem;
    margin-top: 1rem;
  }
  .player-card-winner {
    max-width: 400px;
    margin: 3rem;
    margin-top: 1rem;
    border-width: 5px;
    border-style: solid;
    border-color: green;
  }
  .player-caption{
    font-size: x-large;
    font-weight: bolder
  }
